<h1>Candidate</h1>

<table>
  <tr>
    <td>
      <strong>{{id}}:</strong>
    </td>
    <td>
      {{name}}
    </td>
    <td>
      {{email}}
    </td>
  </tr>
</table>

<ul>
  {{#each comments}}
    <p>{{body}}</p>
  {{else}}
    <li>No comments</li>
  {{/each}}
</ul>
{{#linkTo 'comments.new'}}Comment{{/linkTo}}

{{#linkTo 'candidate.edit'}}Change{{/linkTo}}

{{outlet}}
